html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul, ul li {
    margin: 0;
    list-style: none;
    padding: 0;
}

.login-dialog .el-dialog__header {
    padding: 0;
}

.login-dialog .el-dialog__body .el-input__inner {
    height: 45px;
}
